#root {
  background-color: #f6f0f0;
  min-height: calc(100vh - 72px);
  padding: 8px;
  padding-bottom: 64px;
}

body {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f0f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9f6060;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6f4343;
}
